.events-section {
  width: 100vw !important;
  font-family: "Raleway", sans-serif;
  color: white;
  background: #6d296d;
  background: linear-gradient(to top, #4f1d6b, #6d296d);
  z-index: -3;
}
.buttons {
  margin-top: calc(1rem / var(--size-divisor));
  padding-bottom: 5rem;
}
.events-title {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 4rem;
  top: 3rem;
  bottom: 1.5rem;
  color: white;
  font-family: "Raleway", sans-serif;
}
.building {
  width: 80vw;
  position: absolute;
  right: 0;
  z-index: 0;
  margin-top: 0;
  transform: translate(25%);
}

.btn {
  background-color: white;
  text-align: center;
  margin-bottom: calc(5rem / var(--size-divisor));
  padding: calc(10px / var(--size-divisor));
  font-size: 1.5rem;
  border-radius: calc(30px / var(--size-divisor));
  flex-wrap: nowrap;
  width: calc(30rem / var(--size-divisor));
}

.leftDiv {
  margin-left: 3rem;
  margin-top: 2rem;
}

.second {
  margin-left: 11.5rem;
}
:root {
  --size-divisor: 1;
  --div-divisor: 1;
}

.event-div {
  margin-top: 7.5rem;
}

.btn i {
  margin-left: 10px !important;
}

@media screen and (max-width: 1100px) {
  :root {
    --size-divisor: 1.5;
    --div-divisor: 2.3;
  }
  .second {
    margin-left: 3.5rem;
  }
  .event-div {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 761px) {
  .leftDiv {
    margin-left: 0.5rem;
  }
  .buttons {
    padding-bottom: 0;
    margin-left: 5vw;
  }
  .second {
    width: 100%;
    margin-left: 5vw;
    padding-left: 2.2rem;
    padding-top: 1.5rem;
  }
  .building {
    width: 130vw;
    margin-top: 7rem;
  }
  .event-div {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 5vw;
    padding-left: 1.8rem;
    transform: translateY(-10%);
  }
}

@media only screen and (max-width: 650px) {
  .events-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: -3rem;
  }

  .btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 380px) {
  :root {
    --size-divisor: 2;
    --div-divisor: 3;
  }
  .second {
    width: 100%;
    margin-left: 5vw;
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  .event-div {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 5vw;
    padding-left: 1.4rem;
    transform: translateY(-10%);
  }
  .buttons {
    padding-bottom: 0;
    margin-left: 5vw;
  }
}
