@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.contact-us-section {
  width: 100vw;
  font-family: "Raleway", sans-serif;
  background: #0e5896;
  background: linear-gradient(to bottom, #0e5896, #000000);
  padding-top: 5rem;
  position: relative;
  z-index: -2;
  margin-top: 0em;
}

.contact-us-title {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.contacts {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.contact-photo {
  width: 10rem;
  border-radius: 50%;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.contact-text {
  background-color: white;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  /* z-index: 1; */
}
.underwater-img-div {
  width: 100%;
  text-align: right;
  position: relative;
  z-index: -1;
  /* right: -65px; */
}

.underwater-city {
  width: 100vw;
  margin-top: -40vh;
  /* margin-right: -65px; */

  position: relative;
  /* right: -65px; */
}

@media only screen and (max-width: 650px) {
  .underwater-city {
    width: 100vw;
    margin-top: -15vh;
  }
  .underwater-img-div {
    text-align: center;
  }

  .contact-us-title {
    font-size: 1.5rem;
  }

  .contact-us-section {
    margin-top: -1em;
  }
}
