.allusers {
  min-height: 100vh;
  background: rgb(80, 79, 79) !important;
  color: white;
  font-family: "Raleway", sans-serif;
  padding-top: 2rem;
  width: 100vw;
}

.allusers p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.download-table-xls-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  background-color: white;
  padding: 0.5em;
  border: none;
  box-shadow: 1px -1px 10px -3px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px -1px 10px -3px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px -1px 10px -3px rgba(0, 0, 0, 0.49);
  border-radius: 30px;
}

.download-table-xls-button:focus {
  outline: none;
}
