@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.sponsors-section {
  width: 100vw;
  height: 100%;
  background-color: #0d0265;
  position: relative;
  padding-top: 0vh;
  padding-bottom: 3rem;
  font-family: "Raleway", sans-serif;
}

.sponsors-title {
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 3rem;
  text-align: left;
  margin-left: 1.5em;
  top: 5rem;
  color: white;
  z-index: 13;
}

.poseidon-img {
  width: 28em;
  position: relative;
  left: -20px;
  margin-top: -20vh;
}

.coming-soon-text {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 5rem;
  text-align: center;
  z-index: 13;
}

.bubble-img {
  width: 22em;
  /* position: relative; */
  margin-top: 5vh;
  position: relative;
  z-index: 13;
  /* display: none; */
  opacity: 1;
  pointer-events: none;
}
.bubble-img-1 {
  position: relative;
  left: 26vw;
  top: 8vh;
}
.bubble-img-2 {
  position: relative;
  background-color: white;
  padding: 10px;
  left: 35vw;
  top: 25vh;
}
.bubble-img-3 {
  position: relative;
  left: 30vw;
  top: 18vh;
}
.bubble-img-4 {
  position: relative;
  left: 35vw;
  top: 30vh;
}

@media only screen and (max-width: 820px) {
  .sponsors-section {
    padding-bottom: 2rem;
  }
  .sponsors-title {
    text-align: center;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .bubble-img {
    width: 10em;
    height: 40%;
  }
  .poseidon-img {
    width: 20em;
    opacity: 0.5;
  }
  .bubble-col-1 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 15vh;
  }
  .bubble-col-2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20vh;
  }

  .bubble-img-1 {
    position: relative;
    left: 0;
    top: 0;
  }

  .bubble-img-2 {
    position: relative;
    left: 0;
    top: 0;
  }
  .bubble-img-3 {
    position: relative;
    left: 0;
    top: 0;
  }

  .bubble-img-4 {
    position: relative;
    left: 0;
    top: 0vh;
  }
}
@media only screen and (min-width: 1350px) {
  .bubble-img-1 {
    position: relative;
    left: 40vw;
    top: 5vh;
  }

  .bubble-img-2 {
    position: relative;
    left: 50vw;
    top: 15vh;
  }
  .bubble-img-3 {
    position: relative;
    left: 40vw;
    top: 10vh;
  }

  .bubble-img-4 {
    position: relative;
    left: 50vw;
    top: 16vh;
  }
}
