@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.sponsors-section {
  width: 100vw;
  height: 100%;
  background-color: #0d0265;
  position: relative;
}

.sponsors-title {
  position: relative;
  font-size: 3rem;
  text-align: left;
  margin-left: 1.5em;
  top: 5rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

.poseidon-img {
  width: 25em;
  position: relative;
  left: -20px;
  margin-top: -20vh;
}

.bubble-img {
  width: 10em;
  /* position: relative; */
  margin-top: 3vh;
}
.bubble-img-1 {
  position: relative;
  left: 36vw;
  top: 8vh;
}
.bubble-img-2 {
  position: relative;
  left: 45vw;
  top: 15vh;
}

.bubble-img-3 {
  position: relative;
  left: 40vw;
  top: 15vh;
}
.bubble-img-4 {
  position: relative;
  left: 50vw;
  top: 23vh;
}

@media only screen and (max-width: 600px) {
  .sponsors-title {
    text-align: center;
    margin-left: 0;
  }

  .bubble-img {
    width: 7em;
  }

  .poseidon-img {
    width: 20em;
    opacity: 0.5;
  }

  .bubble-col-1 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 15vh;
  }
  .bubble-col-2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20vh;
  }

  .bubble-img-1 {
    position: relative;
    left: 0vw;
    top: 0;
  }

  .bubble-img-2 {
    position: relative;
    left: 0;
    top: 0vh;
  }
  .bubble-img-3 {
    position: relative;
    left: 0vw;
    top: 0;
  }

  .bubble-img-4 {
    position: relative;
    left: 0;
    top: 0vh;
  }
}
