@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.faq__section {
  width: 100vw !important;
  font-family: "Raleway", sans-serif;
  background: #0d0265;
  background: -webkit-linear-gradient(to bottom, #0d0265, #0e5896);
  background: linear-gradient(to bottom, #0d0265, #0e5896);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}

.faq__title {
  width: 100%;
  padding: 50px;
  height: 15%;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.faq__bottom__div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.faq__left__button {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.left__button {
  max-width: 80%;
  height: auto;
  margin-left: 20px;
}
.faq__questions__div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}
.full__question__box {
  height: 45%;
  width: 35%;
  background-color: #e9e9e9;
  margin-top: 1rem;
  border-radius: 20px;
}
.full__question__box__large {
  height: 60%;
  width: 80%;
  background-color: #e9e9e9;
  border-radius: 20px;
}
.question__div {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 20px;
}
.answer__div {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 70%;
  font-size: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  opacity: 1;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 0;
}

.faq__right__button {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right__button {
  max-width: 80%;
  height: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 820px) {
  .faq__section {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 650px) {
  .faq__title {
    font-size: 1.5rem;
  }
  .question__div {
    font-size: 1rem;
  }

  .faq__bottom__div {
    margin-top: -1em;
  }
}
