@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.social-media-box {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  margin-top: -14vh;
  position: relative;
  z-index: 100000;
}

.social-left-section {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 20rem;
}

.social-icons {
  color: white;
  width: 17rem;
  text-align: center;
}

.social-icons a i {
  font-size: 30px;
  margin: 0 10px;
  color: white;
}

.copyright-info {
  width: 22rem;
  margin: 20px 20px;
  font-size: 0.85rem;
}

/* @media screen and (max-width: 1025px) {
  .social-icons a i {
    font-size: 25px;
    margin: 0 7px;
    color: white;
  }
} */
