@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.register-div {
  background: linear-gradient(
    to bottom,
    #9f3f59,
    #9f3f59,
    #933d5f,
    #bd5662,
    #c45958
  );
  /* background: #c0575e; */
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
}

.college-select {
  border: none;
}
.no-register-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.registration-form {
  width: 55vw;
  margin: auto;
  position: relative;
  z-index: 3;
}

.registration-form > input,
.registration-form > select {
  height: 7vh;
  border-radius: 30px;
}

.go-back:focus {
  outline: none;
}

.register-div > p {
  color: white;
  font-size: 32px;
  top: 20px;
  z-index: 10;
}

.label-register-form {
  color: white;
  margin-top: 17px;
  font-size: 1.3rem;
}

.sign-up {
  position: relative;

  left: 50%;
  margin-top: 25px;
  transform: translateX(-50%);
  background-color: white;
  height: 55px;
  width: 160px;
  border-radius: 49px;

  border: none;
}
.sign-up:focus {
  outline: none;
}
.top {
  display: flex;
}
.title {
  margin: 10px;
  text-align: center;
}

.alert-class {
  width: 60vw;
  margin: 20px auto;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 10px;
}

.sky {
  /* display: none; */
  position: absolute;
  width: 100vw;
  z-index: 0;
  opacity: 0.2;
}

.reg-back-btn {
  font-size: 3rem;
  margin-left: 2rem;
  position: relative;
  top: 3.5rem;
  z-index: 15;
  color: white;
}

.sand {
  width: 100vw;
  position: absolute;
  height: 50vh;
  z-index: 1;
  bottom: 0;
  /* opacity: 0.3; */
}

.building-reg-1 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 65vw;
  /* opacity: 0.3; */
}

.moon {
  position: absolute;
  width: 9rem;
  right: 20px;
}

.moon #Path_1397 {
  opacity: 0.2;
}

.background-register {
  opacity: 0.3;
}

@media screen and (max-width: 850px) {
  .registration-form {
    width: 70vw;
  }

  .moon {
    position: absolute;
    width: 8rem;
    right: 20px;
  }
}
@media screen and (max-width: 700px) {
  .moon {
    position: absolute;
    width: 7rem;
    right: 20px;
  }

  .building-reg-1 {
    width: 100vw;
  }

  .sand {
    height: 35vh;
  }

  .reg-back-btn {
    font-size: 1.8rem;
    margin-left: 2rem;
    position: relative;
    top: 2.5rem;
    z-index: 15;
    color: white;
  }
}
@media screen and (max-width: 500px) {
  .moon {
    position: absolute;
    width: 7rem;
    right: 20px;
    opacity: 0.3;
  }

  .register-div > p {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    margin-top: -6px;
    margin-bottom: 30px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }

  .reg-back-btn {
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
    top: 3.5rem;
    z-index: 15;
    color: white;
  }

  .sign-up {
    position: relative;

    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    background-color: white;
    height: 40px;
    width: 110px;
    border-radius: 49px;

    border: none;
  }

  .label-register-form {
    color: white;
    margin-top: 17px;
    font-size: 1.1rem;
  }

  .registration-form > input,
  .registration-form > select {
    height: 6vh;
    border-radius: 30px;
  }
}
