.back-to-top-btn {
  position: fixed;
  z-index: 10000000000000000;
  bottom: 2rem;
  right: 3rem;
  color: white;
  padding: 10px;
  background-color: black;
  font-size: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in-out all;
  text-decoration: none;
}

.back-to-top-btn:hover {
  text-decoration: none;
  color: white;
}

.back-to-top-btn.active {
  pointer-events: fill;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .back-to-top-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
}
