@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.home-page {
  width: 100vw;
  background: linear-gradient(
    to bottom,
    #95387b,
    #8a3083,
    #c0575e,
    #c1585d,
    #a03d4e
  );
  position: relative;
  /* height: 100%; */
  min-height: 100vh;
}
/* 
.image-container-home {
  position: absolute;
} */

.sand-img {
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.sky-img {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100vw;
  /* margin-top: -15rem; */
}
.buildings-div {
  position: absolute;
  /* margin-top: -16rem; */
  bottom: 0;
  right: 0;
  z-index: 11;
}

.buildings-img {
  width: 65vw;
}

.top-bar {
  padding-top: 1em;
  position: absolute;
  margin-left: 2em;
  width: 100%;
}

.iitgoa-top {
  width: 6em;
}

.nav-white-line {
  width: 1em;
  border-left: solid white 1px;
  position: absolute;
  height: 10vh;
  top: 4vh;
  margin-left: 7rem;
  display: none;
}
.cepheus-top {
  width: 22em;
  margin-left: 1rem;
}

.moon-logo {
  width: 8em;
  position: absolute;
  right: 5vw;
  z-index: 100;
  pointer-events: none;
}

.nav-cross-div {
  cursor: pointer;
  position: absolute;
  right: 5vw;
  top: 10px;
}

.nav-cross {
  font-size: 3em;
  color: white;
}

.navbar-two {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(to bottom, #4600b2, #c0575e);
  z-index: 100000;
  position: absolute;
  margin-top: -50vh;
  transition: 0.5s ease-in-out all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  margin-top: 0em;
}

.auth-buttons {
  color: black !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  left: 4vw;
  bottom: 5rem;
  border-radius: 50px !important;
  /* display: none;  */
  /* top: -10px; */
}

.techfest-date {
  background: white;
  position: absolute;
  width: fit-content;
  padding: 10px 20px;
  bottom: 10rem;
  left: 1vw;
  border-radius: 30px;
  z-index: 10000;
  font-family: "Raleway", sans-serif !important;
  color: black !important;
  font-size: 1.5rem;
  font-weight: bolder;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.27);
}

.homepage-loader {
  position: absolute;
  z-index: 100000000000000000000000;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
}

.google-button {
  position: relative;
  z-index: 10000;
  border-radius: 90px !important;
  width: 10em;
  justify-content: center;
  color: black !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none;
}

.google-button:focus {
  outline: none;
}

.google-button div {
  display: none;
}
.google-button span {
  font-family: "Raleway", sans-serif !important;
  color: black !important;
  font-size: 1.5rem !important;
  font-weight: bolder;
  padding: 10px !important;
}

/* .auth-buttons a button {
  width: 8em;
  font-size: 1.5em;
  margin-top: 10px;
  border-radius: 30px;
  background-color: white;
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
} */

.auth-buttons a button:focus {
  outline: none;
}

@media only screen and (max-width: 820px) {
  .moon-logo {
    pointer-events: fill;
    width: 5em;
    right: 8vw;
  }

  .auth-buttons a button {
    padding: 9px 10px;
    width: 8em;
    font-size: 1em;
    margin-top: 5px;
    border-radius: 30px;
    background-color: white;
    outline: none;
    border: none;
    font-family: "Raleway", sans-serif;
  }

  .home-page {
    min-height: 70vh;
    /* min-height: 100vh; */
  }

  .buildings-div {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .sand-img {
    width: 100vw;
    height: 35vh;
  }

  .buildings-img {
    width: 70vw;
    z-index: 10;
  }

  .iitgoa-top {
    width: 5em;
  }
  .cepheus-top {
    width: 18em;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .top-bar {
    margin-left: 1em;
  }
  .iitgoa-top {
    width: 5em;
  }
  .cepheus-top {
    width: 18em;
    margin-left: 0.5rem;
  }
  .moon-logo {
    width: 5em;
    position: absolute;
    right: 10vw;
    cursor: pointer;
  }

  .nav-white-line {
    width: 1em;
    border-left: solid white 1px;
    position: absolute;
    height: 8vh;
    top: 4vh;
    margin-left: 5.5em;
  }

  .auth-buttons a button {
    padding: 10px 10px;
    width: 10em;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 650px) {
  .top-bar {
    margin-left: 1em;
  }

  .home-page {
    min-height: 57vh;
    /* min-height: 100vh; */
  }
  .iitgoa-top {
    width: 4em;
  }
  .cepheus-top {
    width: 14em;
    margin-left: 0.5rem;
  }
  .moon-logo {
    width: 4em;
    position: absolute;
    right: 10vw;
  }

  .nav-white-line {
    width: 1em;
    border-left: solid white 1px;
    position: absolute;
    height: 4vh;
    top: 3vh;
    margin-left: 3em;
  }

  .techfest-date {
    bottom: 5rem;
    font-size: 1rem;
  }

  .auth-buttons a button {
    padding: 5px 10px;
    width: 9em;
    font-size: 1em;
    /* margin-top: 10em; */
  }

  .auth-buttons {
    margin-top: 2em;
    margin-left: 2vw;
  }

  .nav-cross {
    font-size: 2em;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .google-button {
    position: relative;
    z-index: 10000;
    border-radius: 90px !important;
    width: 7em;
    justify-content: center;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none;
  }

  .google-button span {
    font-family: "Raleway", sans-serif !important;
    color: black !important;
    font-size: 1rem !important;
    font-weight: bolder;
    padding: 10px !important;
  }

  .top-bar {
    margin-left: 1em;
  }

  .home-page {
    min-height: 50vh;
    /* min-height: 100vh; */
  }
  .iitgoa-top {
    width: 4em;
  }
  .cepheus-top {
    width: 14em;
    margin-left: 0.5rem;
  }
  .moon-logo {
    width: 4em;
    position: absolute;
    right: 10vw;
  }

  .sand-img {
    width: 100vw;
    height: 25vh;
  }
  .auth-buttons {
    bottom: 20px;
    left: 10px;
  }
  .auth-buttons a button {
    padding: 5px 10px;
    width: 8em;
    font-size: 0.7em;
    margin: 0;
    margin-top: 5px;
    /* margin-top: 10em; */
  }
}
@media only screen and (max-width: 500px) {
  .top-bar {
    margin-left: 1em;
  }

  .home-page {
    min-height: 43vh;
    /* min-height: 100vh; */
  }
  .iitgoa-top {
    width: 3.2em;
  }
  .cepheus-top {
    width: 12em;
    margin-left: 0.5rem;
  }
  .moon-logo {
    width: 3.5em;
    position: absolute;
    right: 10vw;
  }

  .sand-img {
    width: 100vw;
    height: 20vh;
  }
}
@media only screen and (max-width: 377px) {
  .top-bar {
    margin-left: 1em;
  }

  .home-page {
    min-height: 43vh;
    /* min-height: 100vh; */
  }
  .iitgoa-top {
    width: 2.5em;
  }
  .cepheus-top {
    width: 10em;
    margin-left: 0.5rem;
  }
  .moon-logo {
    width: 3em;
    position: absolute;
    right: 10vw;
  }

  .sand-img {
    width: 100vw;
    height: 18vh;
  }

  .auth-buttons {
    bottom: 10px;
  }

  .auth-buttons a button {
    padding: 5px 10px;
    width: 7em;
    font-size: 0.6em;
    margin: 0;
    /* margin-top: 10em; */
  }
}
@media only screen and (max-width: 322px) {
  .top-bar {
    margin-left: 1em;
  }

  .home-page {
    min-height: 36vh;
    /* min-height: 100vh; */
  }
  .iitgoa-top {
    width: 2.5em;
  }
  .cepheus-top {
    width: 10em;
    margin-left: 1rem;
  }
  .moon-logo {
    width: 3em;
    position: absolute;
    right: 10vw;
  }

  .sand-img {
    width: 100vw;
    height: 15vh;
  }
}
